.nav-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.popover-item {
    display: block;
    padding: 8px 16px;
    color: #333; 
    text-decoration: none; 
    cursor: pointer;
}

.popover-item:hover {
    background-color: #f0f0f0;
}

.nav-link{
    cursor: pointer;
}

