<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MinhDuong</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <i class="fa-solid fa-house"></i>
                        <a class="nav-link active" aria-current="page" routerLink="/">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <i class="fa-solid fa-bell"></i>
                        <a class="nav-link" href="#">Thông báo</a>
                    </li>
                    <li class="nav-item">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <a class="nav-link" routerLink="/orders">Giỏ hàng</a>
                    </li>
                    <li class="nav-item">
                        @if(userResponse) {
                        <ng-container>
                          <ng-container ngbPopover="Tài khoản của tôi,Đơn mua,Đăng xuất" popoverTitle="User Actions"
                            triggers="click" [placement]="'bottom'">
                            <i class="fa-solid fa-user"></i>
                            <a class="nav-link" [ngbPopover]="popoverContent" (click)="togglePopover($event)" ngbPopover>
                              {{ userResponse.fullname }}
                            </a>
                            <ng-template #popoverContent>
                              <div class="popover-list">
                                <a class="popover-item" (click)="handleItemClick(0)">Tài khoản của tôi</a>
                                <a class="popover-item" (click)="handleItemClick(1)">Đơn mua</a>
                                <a class="popover-item" (click)="handleItemClick(2)">Đăng xuất</a>
                              </div>
                            </ng-template>
                          </ng-container>
                        </ng-container>
                        } @else {
                        <ng-container>
                          <a class="nav-link" routerLink="/login">Đăng nhập</a>
                        </ng-container>
                        }
                      </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>