<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang sản phẩm </h1>
        <p> Hiển thị danh sách sản phẩm</p>
    </div>
    <div class="search-box">
        <input type="text" class="search-input" placeholder="Tìm kiếm sản phẩm">
        <button type="button" class="login-button">Tìm kiếm</button>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg" alt="Product Image"
                    class="product-image">
                <div class="p-6">
                    <h5 class="product-name">
                        Product 1
                    </h5>
                    <div class="flex">
                    <div class="col-md-7">
                        <div class="product-rating">
                            <i class="fa-solid fa-star color-star"></i>
                            <p class="product-description">4.9 (300 đánh giá)</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p class="product-description blur-text textright">
                            Đã bán: 2k
                        </p>
                    </div>
                </div>
                    <p class="product-description" style="margin-bottom: 0px; font-weight: 600; font-size: 18px;">
                        12.000.000VNĐ
                    </p>
                </div>
                <div class="button-active">
                    <button data-ripple-light="true" type="button" class="button-cart">
                        Thêm vào giỏ hàng
                    </button>
                    <button data-ripple-light="true" type="button" class="button">
                        Mua ngay
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg" alt="Product Image"
                    class="product-image">
                <div class="p-6">
                    <h5 class="product-name">
                        Product 1
                    </h5>
                    <div class="flex">
                    <div class="col-md-7">
                        <div class="product-rating">
                            <i class="fa-solid fa-star color-star"></i>
                            <p class="product-description">4.9 (300 đánh giá)</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p class="product-description blur-text textright">
                            Đã bán: 2k
                        </p>
                    </div>
                </div>
                    <p class="product-description" style="margin-bottom: 0px; font-weight: 600; font-size: 18px;">
                        12.000.000VNĐ
                    </p>
                </div>
                <div class="button-active">
                    <button data-ripple-light="true" type="button" class="button-cart">
                        Thêm vào giỏ hàng
                    </button>
                    <button data-ripple-light="true" type="button" class="button">
                        Mua ngay
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg" alt="Product Image"
                    class="product-image">
                <div class="p-6">
                    <h5 class="product-name">
                        Product 1
                    </h5>
                    <div class="flex">
                    <div class="col-md-7">
                        <div class="product-rating">
                            <i class="fa-solid fa-star color-star"></i>
                            <p class="product-description">4.9 (300 đánh giá)</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p class="product-description blur-text textright">
                            Đã bán: 2k
                        </p>
                    </div>
                </div>
                    <p class="product-description" style="margin-bottom: 0px; font-weight: 600; font-size: 18px;">
                        12.000.000VNĐ
                    </p>
                </div>
                <div class="button-active">
                    <button data-ripple-light="true" type="button" class="button-cart">
                        Thêm vào giỏ hàng
                    </button>
                    <button data-ripple-light="true" type="button" class="button">
                        Mua ngay
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg" alt="Product Image"
                    class="product-image">
                <div class="p-6">
                    <h5 class="product-name">
                        Product 1
                    </h5>
                    <div class="flex">
                    <div class="col-md-7">
                        <div class="product-rating">
                            <i class="fa-solid fa-star color-star"></i>
                            <p class="product-description">4.9 (300 đánh giá)</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p class="product-description blur-text textright">
                            Đã bán: 2k
                        </p>
                    </div>
                </div>
                    <p class="product-description" style="margin-bottom: 0px; font-weight: 600; font-size: 18px;">
                        12.000.000VNĐ
                    </p>
                </div>
                <div class="button-active">
                    <button data-ripple-light="true" type="button" class="button-cart">
                        Thêm vào giỏ hàng
                    </button>
                    <button data-ripple-light="true" type="button" class="button">
                        Mua ngay
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg" alt="Product Image"
                    class="product-image">
                <div class="p-6">
                    <h5 class="product-name">
                        Product 1
                    </h5>
                    <div class="flex">
                    <div class="col-md-7">
                        <div class="product-rating">
                            <i class="fa-solid fa-star color-star"></i>
                            <p class="product-description">4.9 (300 đánh giá)</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p class="product-description blur-text textright">
                            Đã bán: 2k
                        </p>
                    </div>
                </div>
                    <p class="product-description" style="margin-bottom: 0px; font-weight: 600; font-size: 18px;">
                        12.000.000VNĐ
                    </p>
                </div>
                <div class="button-active">
                    <button data-ripple-light="true" type="button" class="button-cart">
                        Thêm vào giỏ hàng
                    </button>
                    <button data-ripple-light="true" type="button" class="button">
                        Mua ngay
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg" alt="Product Image"
                    class="product-image">
                <div class="p-6">
                    <h5 class="product-name">
                        Product 1
                    </h5>
                    <div class="flex">
                    <div class="col-md-7">
                        <div class="product-rating">
                            <i class="fa-solid fa-star color-star"></i>
                            <p class="product-description">4.9 (300 đánh giá)</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p class="product-description blur-text textright">
                            Đã bán: 2k
                        </p>
                    </div>
                </div>
                    <p class="product-description" style="margin-bottom: 0px; font-weight: 600; font-size: 18px;">
                        12.000.000VNĐ
                    </p>
                </div>
                <div class="button-active">
                    <button data-ripple-light="true" type="button" class="button-cart">
                        Thêm vào giỏ hàng
                    </button>
                    <button data-ripple-light="true" type="button" class="button">
                        Mua ngay
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg" alt="Product Image"
                    class="product-image">
                <div class="p-6">
                    <h5 class="product-name">
                        Product 1
                    </h5>
                    <div class="flex">
                    <div class="col-md-7">
                        <div class="product-rating">
                            <i class="fa-solid fa-star color-star"></i>
                            <p class="product-description">4.9 (300 đánh giá)</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p class="product-description blur-text textright">
                            Đã bán: 2k
                        </p>
                    </div>
                </div>
                    <p class="product-description" style="margin-bottom: 0px; font-weight: 600; font-size: 18px;">
                        12.000.000VNĐ
                    </p>
                </div>
                <div class="button-active">
                    <button data-ripple-light="true" type="button" class="button-cart">
                        Thêm vào giỏ hàng
                    </button>
                    <button data-ripple-light="true" type="button" class="button">
                        Mua ngay
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>