.container {
    background-color: #F8F9FD;
    padding: 1rem;
}

.myorders-content{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}

table {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    border-collapse: separate;
    border: 1px solid #e8e8e8;
    border-spacing: 0;
    background-color: white;
}

th,
td {
    padding: 10px;
    text-align: center;
}

.orders-table{

}