<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang chi tiết sản phẩm </h1>
        <p> Hiển thị chi tiết sản phẩm</p>
    </div>
    <div class="detail-content">
        <div class="link-product">
            <a class="link blur-text">dsadasd</a>
            <p class="link blur-text"> / </p>
            <a class="link blur-text">dsadasd</a>
            <p class="link blur-text"> / </p>
            <p class="link">Sản phẩm 1</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="square-image">
                                <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg"
                                    class="product-image" alt="Product Image">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="square-image">
                                <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg"
                                    class="product-image" alt="Product Image">
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <div class="square-image">
                                <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg"
                                    class="product-image" alt="Product Image">
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="row">
                    <div class="thumbnail-container">
                        <div class="thumbnail-item active">
                            <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg"
                                class="thumbnail-image" alt="Thumbnail Image">
                        </div>
                        <div class="thumbnail-item">
                            <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg"
                                class="thumbnail-image" alt="Thumbnail Image">
                        </div>
                        <div class="thumbnail-item">
                            <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg"
                                class="thumbnail-image" alt="Thumbnail Image">
                        </div>
                        <div class="thumbnail-item">
                            <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg"
                                class="thumbnail-image" alt="Thumbnail Image">
                        </div>
                        <!-- <div class="thumbnail-item">
                            <img src="https://pos.nvncdn.com/80c639-72864/ps/20230619_g56PqYH9vP.jpeg"
                                class="thumbnail-image" alt="Thumbnail Image">
                        </div>  -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-detail">
                    <h2 class="product-name">Thông tin chi tiết sản phẩm</h2>
                    <div class="link-product">
                        <p class="product-description blur-text">Hãng:</p>
                        <p class="product-description boldtext">Adidas</p>
                        <i class="fa-solid fa-star product-rating"></i>
                        <p class="product-description blur-text">4.9 (300 đánh giá)</p>
                        <i class="fa-solid fa-heart wishlist-icon"></i>
                        <p class="product-description">Thêm vào danh sách yêu thích</p>
                    </div>
                    <p class="pricetext boldtext">2.000.000 VNĐ</p>
                    <p class="pricetext-discount">2.000.000 VNĐ</p>
                    <hr class="custom-hr">
                    <div class="link-product">
                        <div class="col-md-2">
                            <p class="product-description">Mô tả:</p>
                        </div>
                        <div class="col-md-10">
                            <p class="product-description">bla bla bla</p>
                        </div>
                    </div>
                    <div class="link-product">
                        <div class="col-md-2">
                            <p class="product-description">Màu sắc:</p>
                        </div>

                        <div class="col-md-10">
                            <div class="color-container">
                                <i class="fa-solid fa-square boxcolor activebox" style="color: #f97777"></i>
                                <i class="fa-solid fa-square boxcolor" style="color: #ffa622"></i>
                                <i class="fa-solid fa-square boxcolor" style="color: #411C8C"></i>
                            </div>
                        </div>
                    </div>
                    <div class="link-product">
                        <div class="col-md-2">
                            <p class="product-description">Size:</p>
                        </div>

                        <div class="col-md-10">
                            <p class="product-description">S, M, L</p>
                        </div>
                    </div>
                    <div class="link-product">
                        <div class="col-md-2">
                            Số lượng
                        </div>
                        <div class="col-md-10">
                            
                    <div class="product-quantity">
                        <div class="border-wrapper">
                            <button class="button-plus">
                                <i class="fa-solid fa-minus" style="color: #4299E1;"></i>
                            </button>
                            <input type="text" style="font-family: 'Nunito', sans-serif;" value="1">
                            <button class="button-plus">
                                <i class="fa-solid fa-plus" style="color: #4299E1;"></i>
                            </button>
                        </div>
                    </div>
                        </div>
                    </div>
                    <div class="product-action">
                        <button class="button-cart">Thêm vào giỏ hàng</button>
                        <button class="button">Mua ngay</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>